@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: radial-gradient(circle at top, #7c3aed, #020617);
  color: white;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.08);
  border-radius: 16px;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.nav-links a:hover {
  opacity: 1;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 80px;
}

.hero h1 {
  font-size: 56px;
  line-height: 1.1;
}

.hero h1 span {
  background: linear-gradient(90deg, #ec4899, #8b5cf6);
  -webkit-background-clip: text;
  color: transparent;
}

.hero p {
  margin: 20px 0;
  opacity: 0.8;
}

.hero-btn {
  padding: 14px 28px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, #ec4899, #8b5cf6);
  color: white;
  cursor: pointer;
}

.hero-glass {
  width: 320px;
  height: 320px;
  border-radius: 24px;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 80px #7c3aed;
}

/* SECTIONS */
section {
  padding: 100px 80px;
}

h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

/* GLASS BOX */
.glass-box {
  background: rgba(255,255,255,0.1);
  border-radius: 18px;
  padding: 30px;
  backdrop-filter: blur(18px);
  transition: 0.3s;
}

.glass-box:hover {
  transform: translateY(-10px);
  background: rgba(255,255,255,0.15);
}

/* GRIDS */
.about-grid,
.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.glass-card {
  @apply bg-white/10 backdrop-blur-xl border border-white/20 rounded-2xl p-6 shadow-xl transition hover:scale-[1.03] hover:shadow-2xl;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.glow:hover {
  box-shadow:
    0 0 20px rgba(236, 72, 153, 0.6),
    0 0 40px rgba(168, 85, 247, 0.4);
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.9s ease;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
}
